header {
    text-align: center;
    
}
.content {
    display: flex;
    flex-direction: column;
    border : red 2px solid;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.animal-box {
    display: flex;
    flex-direction: column;
    border: green 2px solid;
    width : 450px;
}

.image {
}

.caption {
    text-align: center;
}

.animal-info-box {
    border: cyan 2px solid;
}
#animal-image {
    width: 100%;
}

.animal-attribute {
    display: flex;
}

.icon {
    width:25px;
    height:25px;
}
.button {
    display: flex;
}